## Ejercicios - Lists

In [3]:
lista = ["a", "b", "c", "d", "e", 1, 2, 3, 4, 5, False, True]

### Ejercicio 1
- En listas separadas obtener una lista paras los caracteres, otra para los enteros y otra para lo booleanos, utilizando slicing.
- Llamalas **lista_1**, **lista_2**, **lista_3** respectivamente.

In [4]:
lista1 = lista[0:5]
lista1

['a', 'b', 'c', 'd', 'e']

In [5]:
lista2 = lista[5:10]
lista2

[1, 2, 3, 4, 5]

In [6]:
lista3 = lista[10:]
lista3

[False, True]

### Ejercicio 2
- Insertar las vocales faltantes a la lista de caracteres.

In [7]:
vocales = ['i', 'o', 'u']
lista1.extend(vocales)
lista1

['a', 'b', 'c', 'd', 'e', 'i', 'o', 'u']

### Ejercicio 3
- Eliminar los caracteres que no son vocales de la lista de caracteres.

In [8]:

lista_work = lista1 
try:
    lista_work.remove('a')
    lista_work.remove('e')
    lista_work.remove('i')
    lista_work.remove('o')
    lista_work.remove('u')
except ValueError:
    print("Ha ocurrido un error al borrar, no existe vocal")
lista_work

['b', 'c', 'd']

### Ejercico 4
- De la lista inicial (**lista**) reemplazar los elementos boleanos por 0 y 1 respectivamente.

In [9]:
lista = ["a", "b", "c", "d", "e", 1, 2, 3, 4, 5, False, True]
lista[-1] = 1
lista[-2] = 0
lista

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5, 0, 1]

### Ejercicio 5
- Aplicar el metodo **.reverse()** a la lista de números.

In [10]:
lista2.reverse()
lista2

[5, 4, 3, 2, 1]

### Ejercicio 6
- Aplicar el método **.sort()** a la lista de números.

In [13]:
lista2.sort()
lista2

[1, 2, 3, 4, 5]

### Ejercicio 7
- Une las 3 listas para formar la lista inicial otra vez.

In [14]:
lista_unida = lista1 + lista2 + lista3
lista_unida

['b', 'c', 'd', 1, 2, 3, 4, 5, False, True]

### Ejercicio 8
- Dada la siguiente lista de empresas:
    1. Ordenar cada lista dentro de la lista de empresas en orden alfabetico.
    2. Obtener las empresas: Audi, Avianca y KLM, mediante sus índices y crear una nueva lista con esos elementos.

In [11]:
empresas = [["Cocacola", "Pepsi"],
            ["Meta", "TW", "IG"],
            ["Ferrari", "Audi", "Ford", "Nissan"],
            ["KLM", "AA", "Iberia", "AE", "Avianca"]]

empresas

[['Cocacola', 'Pepsi'],
 ['Meta', 'TW', 'IG'],
 ['Ferrari', 'Audi', 'Ford', 'Nissan'],
 ['KLM', 'AA', 'Iberia', 'AE', 'Avianca']]

In [15]:
# 1. Ordenar cada lista dentro de empresas
empresas[0] = sorted(empresas[0])
empresas[1] = sorted(empresas[1])
empresas[2] = sorted(empresas[2])
empresas[3] = sorted(empresas[3])

# 2. Obtener Audi, Avianca y KLM y crear una nueva lista
nueva_lista = [empresas[2][1], empresas[3][4], empresas[3][0]]

print(empresas)
print(nueva_lista)

[['Cocacola', 'Pepsi'], ['IG', 'Meta', 'TW'], ['Audi', 'Ferrari', 'Ford', 'Nissan'], ['AA', 'AE', 'Avianca', 'Iberia', 'KLM']]
['Ferrari', 'KLM', 'AA']

In [12]:
##############################################################################################################################