## Ejercicios - Tuplas, Sets y Diccionarios

### Tuplas

### Ejercicio 1
- Crea una tupla utilizando la función **range()**, que tenga un rango del 11 al 19.
    - Ejemplo: **tupla = tuple(range(3))**

In [1]:
tupla = tuple(range(11, 20))
print(tupla)

(11, 12, 13, 14, 15, 16, 17, 18, 19)

### Ejercicio 2
- Crea una lista vacia y llenala con los números de la tupla anterior usando un bucle.

In [2]:
lista = []

for numero in tupla:
    lista.append(numero)

print(lista)

[11, 12, 13, 14, 15, 16, 17, 18, 19]

### Ejercicio 3
- Ordena la lista de mayor a menor.

In [3]:

lista.sort(reverse=True)
print(lista)

[19, 18, 17, 16, 15, 14, 13, 12, 11]

### Ejercicio 4
- Transforma la lista a tupla y ordenala de menor a mayor.

In [4]:

tupla = tuple(lista)

tupla_ordenada = tuple(sorted(tupla))

print(tupla_ordenada)

(11, 12, 13, 14, 15, 16, 17, 18, 19)

### Ejercicio 5
- ¿Que tipo de dato es la variable resultante?

In [5]:
type(tupla_ordenada)

tuple

### Ejercicio 6
- Dada la siguiente **frase = "Fui programado para servir, no para destruir - C3PO"**, conviertela en tupla, ordenala y manten la tupla. (El resultado final debe ser una tupla)

In [6]:
frase = "Fui programado para servir, no para destruir - C3PO"

lista_caracteres = list(frase)

lista_caracteres.sort()

tupla_ordenada = tuple(lista_caracteres)

print(tupla_ordenada)

(' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ',', '-', '3', 'C', 'F', 'O', 'P', 'a', 'a', 'a', 'a', 'a', 'a', 'd', 'd', 'e', 'e', 'g', 'i', 'i', 'i', 'm', 'n', 'o', 'o', 'o', 'p', 'p', 'p', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 's', 's', 't', 'u', 'u', 'v')

### Ejercicio 7
- Del resultado anterior, muestra cuantas veces aparece cada vocal.
    - Utiliza un bucle **for** que recorra la siguiente tupla: **("a", "e", "i", "o", "u")**

In [7]:
vocales = ("a", "e", "i", "o", "u")

for vocal in vocales:
    conteo = tupla_ordenada.count(vocal)
    print(f"La vocal '{vocal}' aparece {conteo} veces")

La vocal 'a' aparece 6 veces
La vocal 'e' aparece 2 veces
La vocal 'i' aparece 3 veces
La vocal 'o' aparece 3 veces
La vocal 'u' aparece 2 veces

### Ejercicio 8
- Dada la siguiente tupla: **(9, 8, 7, 5, "a", 3, 6, 5)**, encuentra la forma para eliminar la letra **"a"**. (El resultado final debe ser una tupla)

In [8]:
tupla_original = (9, 8, 7, 5, "a", 3, 6, 5)

# Convertir la tupla a una lista
lista = list(tupla_original)

# Eliminar el elemento "a"
lista.remove("a")

# Convertir la lista de nuevo a una tupla
tupla_modificada = tuple(lista)

print(tupla_modificada)

(9, 8, 7, 5, 3, 6, 5)

### Ejercicio 9
- Pregunta a un usuario que ingrese 5 elementos diferentes separados por coma y convierte estos elementos a una tupla, pueden ser palabras o un números.

In [10]:
while True:
   
    entrada = input("Ingrese 5 elementos diferentes separados por comas: ")

    lista_elementos = entrada.split(',')

    # Eliminar espacios en blanco adicionales alrededor de cada elemento
    lista_elementos = [elemento.strip() for elemento in lista_elementos]

    # Comprobar que la lista tiene exactamente 5 elementos y que no hay elementos duplicados
    if len(lista_elementos) == 5 and len(set(lista_elementos)) == 5:
        # Convertir la lista de elementos a una tupla
        tupla_elementos = tuple(lista_elementos)
        print("La tupla de elementos es:", tupla_elementos)
        break
    else:
        print("Por favor, asegúrese de ingresar 5 elementos diferentes separados por comas.")

Por favor, asegúrese de ingresar 5 elementos diferentes separados por comas.
Por favor, asegúrese de ingresar 5 elementos diferentes separados por comas.
La tupla de elementos es: ('2', '5', '6', '7', '9')

### Ejercicio 10
- Dada la siguiente lista de tuplas: **[(10, 20, 40), (40, 50, 60), (70, 80, 90)]**, elimina el último elemento de cada tupla dentro de la lista.

In [11]:
lista_de_tuplas = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

nueva_lista = []
for tupla in lista_de_tuplas:
    nueva_lista.append(tupla[:-1])

print(nueva_lista)

[(10, 20), (40, 50), (70, 80)]

### Sets

### Ejercicio 11
- Pide al usuario que ingrese 3 empresas de tecnología, estos elementos agregalos al **set_1 = {"Meta", "Google", "Amazon"}**

- Verifica que no se repita ninguna empresa y dile al usuario que no se repitio ninguna empresa.

In [12]:

empresas_usset_1 = {"Meta", "Google", "Amazon"}

entrada = input("Ingrese 3 empresas de tecnología separadas por comas: ")

empresas_usuario = entrada.replace(" ", "").split(',')

for empresa in empresas_usuario:
    empresas_usset_1.add(empresa)

if len(empresas_usset_1) == 3 + len(empresas_usuario):
    print("No se repitió ninguna empresa.")
else:
    print("Se ingresaron empresas repetidas.")


print("Conjunto de empresas actualizado:", empresas_usset_1)

Se ingresaron empresas repetidas.
Conjunto de empresas actualizado: {'Microsoft', 'Google', 'Meta', 'Amazon'}

### Ejercicio 12
- Repite el ejercicio anterior pero ahora imprime las empresas que se repiten en caso de que existiera uno o más que se repitan.

In [13]:
set_1 = {"Meta", "Google", "Amazon"}

entrada = input("Ingrese 3 empresas de tecnología separadas por comas: ")

empresas_usuario = entrada.replace(" ", "").split(',')

duplicados = set()

for empresa in empresas_usuario:
    if empresa in set_1:
        duplicados.add(empresa)
    set_1.add(empresa)

if len(duplicados) == 0:
    print("No se repitió ninguna empresa.")
else:
    print(f'Se ingresaron empresas repetidas: {duplicados}')

print(f'Conjunto de empresas actualizado: {set_1}')

Se ingresaron empresas repetidas: {'Google', 'Meta'}
Conjunto de empresas actualizado: {'Microsoft', 'Google', 'Meta', 'Amazon'}

### Ejercicio 13
- Dadas las siguientes **frases_1 = "En una galaxia lejana"** y **frase_2 = "Una galaxia llamadá Via Lactea"**, haz la intersección de las palabras.

In [14]:
frase_1 = "En una galaxia lejana"
frase_2 = "Una galaxia llamada Via Lactea"

palabras_1 = set(frase_1.lower().split())
palabras_2 = set(frase_2.lower().split())

interseccion = palabras_1.intersection(palabras_2)

print(f'Palabras comunes en ambas frases: {interseccion}')

Palabras comunes en ambas frases: {'una', 'galaxia'}

### Ejercicio 14
- Encuentra la diferencia entre el **set_1 = {9, 8, 7, 6, 5, 4, 3, 2}** y el **set_2 = {9, 8, 10}**
- **Extra**: hazlo utilizando un bucle **for** y no la función.

In [15]:
set_1 = {9, 8, 7, 6, 5, 4, 3, 2}
set_2 = {9, 8, 10}

diferencia = set()

for elemento in set_1:
    if elemento not in set_2:
        diferencia.add(elemento)

print(f'La diferencia entre set_1 y set_2 es: {diferencia}')

La diferencia entre set_1 y set_2 es: {2, 3, 4, 5, 6, 7}

### Diccionarios

### Ejercicio 15
- Crea un diccionario con 5 elementos (5 llaves y 5 valores)
    - **Llave**: Color
    - **Valor**: Numero de letras del color

In [16]:
colores = {
    "rojo": len("rojo"),
    "azul": len("azul"),
    "verde": len("verde"),
    "amarillo": len("amarillo"),
    "morado": len("morado")
}

print(colores)

{'rojo': 4, 'azul': 4, 'verde': 5, 'amarillo': 8, 'morado': 6}

### Ejercicio 16
- Crea un diccionario con 5 elementos pero esta vez pregunta el usuario por cada llave y valor.
    - **Llave**: Color
    - **Valor**: Numero de letras del color

In [17]:
colores = {}

for i in range(5):
    color = input("Ingrese el nombre de un color: ")
    colores[color] = len(color)

print(f'Diccionario de colores y su número de letras: {colores}')

Diccionario de colores y su número de letras: {'Azul': 4, 'Rojo': 4, 'Verde': 5, 'Amarillo': 8, 'Negro': 5}

### Ejercicio 17
- Repite el ejercicio anterior pero de la siguiente forma:
    - Primero crea en una lista los colores y en otra lista el numero de letras
    - Después crea el diccionario a partir de las listas.

In [18]:
lista_colores = []
lista_numeros = []

for i in range(5):
    color = input("Ingrese el nombre de un color: ")
    lista_colores.append(color)
    lista_numeros.append(len(color))

diccionario_colores = dict(zip(lista_colores, lista_numeros))

print(f'Diccionario de colores y su número de letras: {diccionario_colores}')

Diccionario de colores y su número de letras: {'Azul': 4, 'Rojo': 4, 'Amarillo': 8, 'Verde': 5, 'Violeta': 7}

### Ejercicio 18
- Pide al usuario que ingrese 3 números distintos y guarda esos números como llaves y crea los valores utilizando la siguiente formula:
    - x : x**2
    
Donde x es la llave.

In [20]:
numeros_diccionario = {}

for i in range(3):
    while True:
        try:
            numero = int(input(f"Ingrese un número: "))
            if numero not in numeros_diccionario:
                numeros_diccionario[numero] = numero ** 2
                break
            else:
                print("El número ya fue ingresado. Ingrese un número distinto.")
        except ValueError:
            print("Por favor, ingrese un número válido.")

print(f'Diccionario de números y sus cuadrados: {numeros_diccionario}')

Diccionario de números y sus cuadrados: {5: 25, 9: 81, 4: 16}

### Ejercicio 19
- Pide al usuario que ingrese una frase y agrega las palabras como keys y la frecuencia de cada palabra como value en un diccionario. Usa la función **Counter**.

In [24]:
from collections import Counter

frase = input("Ingrese una frase: ").lower()

palabras = frase.split()

frecuencias = Counter(palabras)

print("Diccionario de frecuencias de palabras:", frecuencias)

Diccionario de frecuencias de palabras: Counter({'de': 2, 'la': 2, 'mancha': 2, 'en': 1, 'un': 1, 'lugar': 1, 'limnpia': 1})

### Ejercicio 20
- Crea un programa donde las keys son 7 números aleatorios entre el 100 y el 200 y en los values debe de estar la palabra par o impar, si el número es par o impar

In [25]:
import random

numeros_dict = {}

for _ in range(7):
    numero = random.randint(100, 200)
    if numero not in numeros_dict:
        if numero % 2 == 0:
            numeros_dict[numero] = "par"
        else:
            numeros_dict[numero] = "impar"

print("Diccionario de números y su paridad:", numeros_dict)

Diccionario de números y su paridad: {155: 'impar', 158: 'par', 195: 'impar', 121: 'impar', 139: 'impar', 125: 'impar', 169: 'impar'}

### Ejercicio 21
- Crea un programa donde las keys son 10 números enteros aleatorios entre el 1 y el 50 y para cada value del diccionario vamos a utilizar la siguiente formula x : 1/x

In [26]:
numeros_dict = {}

while len(numeros_dict) < 10:
    numero = random.randint(1, 50)
    if numero not in numeros_dict:
        numeros_dict[numero] = 1 / numero

# Imprimir el diccionario resultante
print(f'Diccionario de números y 1/x: {numeros_dict}')

Diccionario de números y 1/x: {40: 0.025, 30: 0.03333333333333333, 50: 0.02, 8: 0.125, 22: 0.045454545454545456, 11: 0.09090909090909091, 15: 0.06666666666666667, 4: 0.25, 5: 0.2, 3: 0.3333333333333333}

### Ejercicio 22
- Crea un programa que dados los siguientes diccionarios: **d1 = {"a" : 125, "b" : 130, "c" : 150}**, **d2 = {"e" :  10, "b" : 20, "a" : 30}**, sume los items que tienen la misma key y guarde esas keys con la suma de los values en un nuevo diccionario

In [28]:
d1 = {"a": 125, "b": 130, "c": 150}
d2 = {"e": 10, "b": 20, "a": 30}

d_sum = {}

for key in d1:
    if key in d2:
        d_sum[key] = d1[key] + d2[key]

print(f'Diccionario con las sumas de los valores: {d_sum}')

Diccionario con las sumas de los valores: {'a': 155, 'b': 150}

In [ ]:
##############################################################################################################################